@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", serif;
}

*{
    margin: 0 auto;
    padding: 0 auto;
}

/* Common Styles */
.display-flex{
    display: flex;
}
.section-caption{
    color: rgb(58, 58, 58);
font-size: 16px;
font-weight: 600;
line-height: 24px;
padding: 20px 0 20px 0;
}
.btn-primary{
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 700;
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
    border: none;
background: rgb(224, 44, 109);
}
/* Navbar Styles  */
.navbar{
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.navbar p{
    color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 34px;
font-weight: 700;
}
nav ul{
    gap: 30px;
}
.navbar> ul> li{
        list-style: none;
        text-decoration: none;
}
.navbar> ul> li> a{
        text-decoration: none;
        color: black;
       
}

/* Hero Section Styles */
.hero{
    align-items: center;
    align-items: center;
    justify-content: space-between;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right 85px top 1px;
    padding: 30px 0;
}
.hero-title{
    color: rgb(58, 58, 58);
font-size: 52px;
font-weight: 700;
line-height: 70px;
}
